# Ne pas suivre les clés secrètes
secret.py

# Fichiers de base de données
*.db
instance/

# Cache Python
__pycache__/
*.pyc

# Dossiers de l’IDE
.vscode/
.idea/

# Fichiers système
.DS_Store
Thumbs.db