<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>JO 2024 - Billetterie</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <h2><a href="{{ url_for('main.home') }}">🏅 JO 2024 - Billetterie</a></h2>
    <div class="profile-menu">
      <img src="{{ url_for('static', filename='profile-icon.png') }}" alt="Profil" class="profile-icon" onclick="toggleDropdown()">
      <div class="dropdown" id="dropdown-menu">
        {% if current_user.is_authenticated %}
    <!-- Liens visibles uniquement si l'utilisateur est connecté -->
    <a href="{{ url_for('main.profil') }}" >Voir Profil</a>
    <a href="{{ url_for('main.logout') }}" >Se déconnecter</a>
{% else %}
    <!-- Liens visibles uniquement si l'utilisateur n'est pas connecté -->
    <a href="{{ url_for('main.login') }}" >Se connecter</a>
    <a href="{{ url_for('main.register') }}" >S'inscrire</a>
{% endif %}

      </div>
    </div>
    
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <p>&copy; 2024 JO Paris. Tous droits réservés.</p>
  </footer>

  <script>
    function toggleDropdown() {
      const menu = document.getElementById('dropdown-menu');
      menu.classList.toggle('show');
    }
    
    // Fermer si on clique ailleurs
    document.addEventListener('click', function(event) {
      const dropdown = document.getElementById('dropdown-menu');
      const icon = document.querySelector('.profile-icon');
      if (!dropdown.contains(event.target) && !icon.contains(event.target)) {
        dropdown.classList.remove('show');
      }
    });
    </script>
    
</body>
</html>